
.email-settings{
    border-bottom: 2px solid rgba(176, 175, 172,0.2);
display: flex;
justify-content: space-between;
min-width: 70vw;

}
.email-settings >.MuiSvgIcon-root{
    font-size: 2px;
}
.email-list{
    position: sticky;
    z-index: 999;
flex:1;
    overflow-x: hidden;

}
.email-settings >.email-settings-left{
max-height: 5vh;
}
.email-section{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    position: sticky;
    z-index: 999;
    border-bottom: 2px solid rgba(176, 175, 172,0.2);
    top: 1;
    color: gray;
}
